[submodule "workspaces/discord-utils"]
	path = workspaces/discord-utils
	url = git@github.com:rpg-sage-creative/discord-utils.git
[submodule "workspaces/console-utils"]
	path = workspaces/console-utils
	url = git@github.com:rpg-sage-creative/console-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/args-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/args-utils
	url = git@github.com:rpg-sage-creative/args-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/array-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/array-utils
	url = git@github.com:rpg-sage-creative/array-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/async-array-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/async-array-utils
	url = git@github.com:rpg-sage-creative/async-array-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/cache-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/cache-utils
	url = git@github.com:rpg-sage-creative/cache-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/character-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/character-utils
	url = git@github.com:rpg-sage-creative/character-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/class-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/class-utils
	url = git@github.com:rpg-sage-creative/class-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/color-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/color-utils
	url = git@github.com:rpg-sage-creative/color-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/console-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/console-utils
	url = git@github.com:rpg-sage-creative/console-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/date-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/date-utils
	url = git@github.com:rpg-sage-creative/date-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/dice-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/dice-utils
	url = git@github.com:rpg-sage-creative/dice-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/discord-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/discord-utils
	url = git@github.com:rpg-sage-creative/discord-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/enum-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/enum-utils
	url = git@github.com:rpg-sage-creative/enum-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/env-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/env-utils
	url = git@github.com:rpg-sage-creative/env-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/fs-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/fs-utils
	url = git@github.com:rpg-sage-creative/fs-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/https-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/https-utils
	url = git@github.com:rpg-sage-creative/https-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/json-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/json-utils
	url = git@github.com:rpg-sage-creative/json-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/language-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/language-utils
	url = git@github.com:rpg-sage-creative/language-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/math-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/math-utils
	url = git@github.com:rpg-sage-creative/math-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/number-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/number-utils
	url = git@github.com:rpg-sage-creative/number-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/pdf-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/pdf-utils
	url = git@github.com:rpg-sage-creative/pdf-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/progress-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/progress-utils
	url = git@github.com:rpg-sage-creative/progress-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/random-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/random-utils
	url = git@github.com:rpg-sage-creative/random-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/render-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/render-utils
	url = git@github.com:rpg-sage-creative/render-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/search-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/search-utils
	url = git@github.com:rpg-sage-creative/search-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/snowflake-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/snowflake-utils
	url = git@github.com:rpg-sage-creative/snowflake-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/string-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/string-utils
	url = git@github.com:rpg-sage-creative/string-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/temperature-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/temperature-utils
	url = git@github.com:rpg-sage-creative/temperature-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/test-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/test-utils
	url = git@github.com:rpg-sage-creative/test-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/type-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/type-utils
	url = git@github.com:rpg-sage-creative/type-utils.git
[submodule "/Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/uuid-utils"]
	path = /Users/randaltmeyer/git/rpg-sage-v1.6.x-submodules/packages/utils/uuid-utils
	url = git@github.com:rpg-sage-creative/uuid-utils.git
[submodule "packages/utils/args-utils"]
	path = packages/utils/args-utils
	url = git@github.com:rpg-sage-creative/args-utils.git
[submodule "packages/utils/array-utils"]
	path = packages/utils/array-utils
	url = git@github.com:rpg-sage-creative/array-utils.git
[submodule "packages/utils/async-array-utils"]
	path = packages/utils/async-array-utils
	url = git@github.com:rpg-sage-creative/async-array-utils.git
[submodule "packages/utils/cache-utils"]
	path = packages/utils/cache-utils
	url = git@github.com:rpg-sage-creative/cache-utils.git
[submodule "packages/utils/character-utils"]
	path = packages/utils/character-utils
	url = git@github.com:rpg-sage-creative/character-utils.git
[submodule "packages/utils/class-utils"]
	path = packages/utils/class-utils
	url = git@github.com:rpg-sage-creative/class-utils.git
[submodule "packages/utils/color-utils"]
	path = packages/utils/color-utils
	url = git@github.com:rpg-sage-creative/color-utils.git
[submodule "packages/utils/console-utils"]
	path = packages/utils/console-utils
	url = git@github.com:rpg-sage-creative/console-utils.git
[submodule "packages/utils/date-utils"]
	path = packages/utils/date-utils
	url = git@github.com:rpg-sage-creative/date-utils.git
[submodule "packages/utils/dice-utils"]
	path = packages/utils/dice-utils
	url = git@github.com:rpg-sage-creative/dice-utils.git
[submodule "packages/utils/discord-utils"]
	path = packages/utils/discord-utils
	url = git@github.com:rpg-sage-creative/discord-utils.git
[submodule "packages/utils/enum-utils"]
	path = packages/utils/enum-utils
	url = git@github.com:rpg-sage-creative/enum-utils.git
[submodule "packages/utils/env-utils"]
	path = packages/utils/env-utils
	url = git@github.com:rpg-sage-creative/env-utils.git
[submodule "packages/utils/fs-utils"]
	path = packages/utils/fs-utils
	url = git@github.com:rpg-sage-creative/fs-utils.git
[submodule "packages/utils/https-utils"]
	path = packages/utils/https-utils
	url = git@github.com:rpg-sage-creative/https-utils.git
[submodule "packages/utils/json-utils"]
	path = packages/utils/json-utils
	url = git@github.com:rpg-sage-creative/json-utils.git
[submodule "packages/utils/language-utils"]
	path = packages/utils/language-utils
	url = git@github.com:rpg-sage-creative/language-utils.git
[submodule "packages/utils/math-utils"]
	path = packages/utils/math-utils
	url = git@github.com:rpg-sage-creative/math-utils.git
[submodule "packages/utils/number-utils"]
	path = packages/utils/number-utils
	url = git@github.com:rpg-sage-creative/number-utils.git
[submodule "packages/utils/pdf-utils"]
	path = packages/utils/pdf-utils
	url = git@github.com:rpg-sage-creative/pdf-utils.git
[submodule "packages/utils/progress-utils"]
	path = packages/utils/progress-utils
	url = git@github.com:rpg-sage-creative/progress-utils.git
