[submodule "packages/utils/args-utils"]
	path = packages/utils/args-utils
	url = git@github.com:rpg-sage-creative/args-utils.git
[submodule "packages/utils/array-utils"]
	path = packages/utils/array-utils
	url = git@github.com:rpg-sage-creative/array-utils.git
[submodule "packages/utils/async-array-utils"]
	path = packages/utils/async-array-utils
	url = git@github.com:rpg-sage-creative/async-array-utils.git
[submodule "packages/utils/cache-utils"]
	path = packages/utils/cache-utils
	url = git@github.com:rpg-sage-creative/cache-utils.git
[submodule "packages/utils/character-utils"]
	path = packages/utils/character-utils
	url = git@github.com:rpg-sage-creative/character-utils.git
