.VSCodeCounter/
build/
logs/
node_modules/
scripts/leader-board/
scripts/foundry/

**/.DS_Store
**/tsconfig.tsbuildinfo

# ignore config json files
/config/*.json
# negate ignore on templates
!/config/*.template.json

# ignore scripts (to ignore the root level links)
*.sh
# negate ignore scripts folder scripts
!scripts/**/*.sh
!**/core-utils/**/*.sh

/docker-volumes/rpg-sage-mono/foundry
/docker-volumes/rpg-sage-mono/pf2e
/docker-volumes/**/*.json
!/docker-volumes/rpg-sage-mono/sage/bots/bot.template.json

# docker
shared-local-instance.db