.VSCodeCounter/
/config/*.json
!/config/*.template.json
dist/
localstack/
logs/
node_modules/
types/

**/.DS_Store
**/tsconfig.tsbuildinfo
all-lores.csv
package-lock.json

# ignore scripts (to ignore the root level links)
*.sh
# negate ignore scripts folder scripts
!scripts/**/*.sh
!docker/**/*.sh
