{
	"codeName": "dev",
	"dataRoot": "/home/ec2-user/legacy/data",
	"dataRootFoundry": "/home/ec2-user/legacy/data/foundry",

	"botId": "",
	"botToken": "",

	"homeServerId": "",
	"superAdminId": "",
	"superAdminIds": [""],
	"superUserId": "",

	"rollemId": "240732567744151553",
	"tupperBoxId": "431544605209788416",

	"mapHostname": "localhost",
	"mapPort": "3000",
	"imagePort": "3001",
	"pixelsPort": "3002",

	"_snsTopicArn": "",
	"_snsRegion": "",
	"_snsAccessKeyId": "",
	"_snsSecretAccessKey": ""
}