{
	"codeName": "dev",
	"dataRoot": "/home/ec2-user/legacy/data",

	"botId": "",
	"botToken": "",

	"homeServerId": "",
	"_superAdminIds": [],
	"superUserId": "",

	"rollemId": "240732567744151553",
	"tupperBoxId": "431544605209788416",

	"mapHostname": "localhost",
	"mapPort": "3000"
}